body {
  background-color: cadetblue;
}

#demoPosition {
  font-family: "Special Elite", cursive;
  color: white;
  text-align: center;
  font-size: 4em;
  width: 400px;
  margin-left: 33%;
}

.wrapper {
  text-align: center;
}
button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: white;
  margin-top: 30px;
  font-size: 1em;
  font-weight: bold;
  color: cadetblue;
  border: darkcyan;
}
button:hover {
  background-color: burlywood;
  color: white;
}
